{% extends 'base.html.twig' %}

{% block title %}Functionality index{% endblock %}

{% block body %}
    <h1>Functionality index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Contenu</th>
                <th>Date_ajout</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for functionality in functionalities %}
            <tr>
                <td>{{ functionality.id }}</td>
                <td>{{ functionality.auteur }}</td>
                <td>{{ functionality.contenu }}</td>
                <td>{{ functionality.dateAjout ? functionality.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('functionality_show', {'id': functionality.id}) }}">show</a>
                    <a href="{{ path('functionality_edit', {'id': functionality.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('functionality_new') }}">Create new</a>
{% endblock %}
