{% extends 'base.html.twig' %}

{% block title %}Functionality{% endblock %}

{% block body %}
    <h1>Functionality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ functionality.id }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ functionality.auteur }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ functionality.contenu }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{{ functionality.dateAjout ? functionality.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('functionality_index') }}">back to list</a>

    <a href="{{ path('functionality_edit', {'id': functionality.id}) }}">edit</a>

    {{ include('functionality/_delete_form.html.twig') }}
{% endblock %}
